@mixin fontMixin($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("./fonts/#{$file_name}.woff2") format("woff2"), url("./fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include fontMixin("SF-Pro-Display", "SF-Pro-Display-Light", 300, normal);
@include fontMixin("SF-Pro-Display", "SF-Pro-Display-Regular", 400, normal);
@include fontMixin("SF-Pro-Display", "SF-Pro-Display-Medium", 500, normal);
@include fontMixin("SF-Pro-Display", "SF-Pro-Display-Semibold", 600, normal);
@include fontMixin("SF-Pro-Display", "SF-Pro-Display-Bold", 700, normal);
